{% extends 'base.html' %}
{% block title %}
설문 조사
{% endblock %}
{% block content %}
    <div id="container mt-5">
        <section>
            {% if question_list %}
                <div class="row">
                    {% for question in question_list %}
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{ question.question_text }}</h5>
                                <a href="{% url 'poll:detail' question.id %}" class="btn btn-primary">투표</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
            <p>설문이 없습니다.</p>
            {% endif %}
        </section>
    </div>
</body>
</html>
{% endblock %}